################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/src/x64/Debug
/src/x64/Debug
/src/.vs/src
/.vs/saper
/.vs
/src/src/Debug
/src/Debug
/x64/Debug
